<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Записвай резултатите си от участия в лотарии, тото, спортни залагания и следи постоянно дали си на печалба или загуба. Виж в кои игри печелиш и къде нямаш късмет. Прекрати участията си в игри, от които си на голяма загуба.">

  <% if content_for?(:head) %>
    <%= content_for(:head) %>
  <% else %>
    <meta name="author" content="Marin Marinov">
    <title>Лото дневник</title>
  <% end %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<%= yield %>

<% if content_for?(:footer) %>
  <%= content_for(:footer) %>
<% else %>
  <%= render "layouts/footer" %>
<% end %>

</body>
</html>
